.search-property-page {
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 110px;
  width: 100%; /* Ensure full width */
  box-sizing: border-box; /* Prevent overflow */
}

.search-property-search-result {
  display: flex;
  justify-content: center;
  width: 100%;
}


@media (max-width: 768px) {
  .search-property-page {
    padding: 10px; /* Reduce padding on smaller screens */
  }
  
  .search-property-search-result {
    flex-direction: column; /* Stack results vertically on smaller screens */
    align-items: center; /* Center items */
  }
}
